<%-include(../cabeçalho.ejs)%>
<h1>Adicionar Aluno</h1>
<div>
<a href="/aluno/lst">Listar</a>
</div>
<div>
    <form method="post">
        <label>Nome:</label>
        <input type="text" name="nome"><br>
        <label>Matricula:</label>
        <input type="text" name="matricula"><br>
        <button type="submit">Cadastrar</button>
    </form>
</div>




<%-include(../cabeçalho.ejs)%>