<%-include('../cabecalho.ejs')%>
    <h1>Alunos</h1>
    <a href="/aluno/add">Listar</a>
    <table>
        <tr>
            <td>Nome</td>
            <td>Matricula</td>
            <td>Açoes</td>
        </tr>
        <%for (const {nome, matricula } of Alunos){%>
        <tr>
            <td><%=nome%></td>
            <td><%=matricula%><td>
            <td></td>
        </tr>
        <%}%>
    </table>
    <%-include('../rodape.ejs')%>