<%-include('../cabecalho.ejs')%>
    <h1>Alunos</h1>
    <table>
        <tr>
            <td>Nome</td>
            <td>Matrícula</td>
            <td>Ações</td>
        </tr>
        <%for (const {nome, matricula} of Alunos){%>
        <tr>
            <td><%=nome%></td>
            <td><%=matricula%><td>
            <td></td>
        </tr>
        <%}%>
    </table>
    <%-include('../rodape.ejs')%>